<h1 th:fragment="title_1(title)"
    th:text="${title}"
        class="txt-1 tit-mag"
        id="title_1"/>

<h1 th:fragment="title_2(title)"
                          th:text="${title}"
                          class="txt-2 tit-mag"
                          id="title_2"/>

<h1 th:fragment="title_3(title)"
    th:text="${title}"
    class="txt-3 tit-mag"
    id="title_3"/>

<h1 th:fragment="title_4(title)"
    th:text="${title}"
    class="txt-4 tit-mag"
    id="title_4"/>

<h1 th:fragment="title_5(title)"
    th:text="${title}"
    class="txt-5 tit-mag"
    id="title_5"/>